In [25]:
import pandas as pd

earthquake_df = pd.read_csv('C://Users/Dave/Documents/Viz Projects/Eartquakes-1990-2023.csv')

#split date into date and time
earthquake_df[['date', 'hour']] = earthquake_df['date'].str.split(" ",expand = True)

#drop time column 
earthquake_df = earthquake_df.drop(columns= ['time'])

#rename state into country 
earthquake_df = earthquake_df.rename(columns= {"state":'country'})

#convert US state names into US 
earthquake_df.country.unique()
earthquake_df['country'] = earthquake_df['country'].replace(['California','Alaska','Nevada','Idaho','Hawaii','Wyoming','Texas','Utah','Washington','Utah','Missouri','Colorado','Oklahoma','New Mexico','Ohio','Montana','Tennessee','Georgia','Kansas','Minnesota','Maine','Oklahoma','North Carolina','New York',
                                       'Kentucky','Alabama','Arizona','Arkansas',"Illinois",'Nebraska','Oregon','New Hampshire','South Carolina'], 'United States', regex=True)

earthquake_df

,place,status,tsunami,significance,data_type,magnitudo,country,longitude,latitude,depth,date,hour
0,"12 km NNW of Meadow Lakes, Alaska",reviewed,0,96,earthquake,2.50,United States,-149.669200,61.730200,30.100,1990-01-01,00:22:33.990000+00:00
1,"14 km S of Volcano, Hawaii",reviewed,0,31,earthquake,1.41,United States,-155.212333,19.317667,6.585,1990-01-01,00:24:51.210000+00:00
2,"7 km W of Cobb, California",reviewed,0,19,earthquake,1.11,United States,-122.806167,38.821000,3.220,1990-01-01,00:34:43.450000+00:00
3,"11 km E of Mammoth Lakes, California",reviewed,0,15,earthquake,0.98,United States,-118.846333,37.664333,-0.584,1990-01-01,00:58:32.130000+00:00
4,"16km N of Fillmore, CA",reviewed,0,134,earthquake,2.95,United States,-118.934000,34.546000,16.122,1990-01-01,01:03:44.490000+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
3445746,"5 km NW of Chikusei, Japan",reviewed,0,326,earthquake,4.60,Japan,139.940200,36.350700,83.039,2023-07-29,10:34:11.941000+00:00
3445747,"Kodiak Island region, Alaska",automatic,0,44,earthquake,1.70,United States,-153.729900,57.790100,24.400,2023-07-29,10:36:15.715000+00:00
3445748,"12 km W of Alberto Oviedo Mota, B.C., MX",automatic,0,90,earthquake,2.42,B.C.,-115.296833,32.233167,1.770,2023-07-29,10:40:15.940000+00:00
3445749,"7 km W of Cobb, CA",automatic,0,16,earthquake,1.03,United States,-122.800499,38.827499,1.720,2023-07-29,10:55:46.040000+00:00
3445750,"35 km W of Karluk, Alaska",automatic,0,12,earthquake,0.90,United States,-155.051000,57.564800,250.000,2023-07-29,11:08:57.884000+00:00

In [26]:
#Strong earthquakes above 3 magnitude 
magnitude_filter = earthquake_df['magnitudo'] >= 3
earthquake_3_df = earthquake_df[magnitude_filter]

earthquake_3_df

,place,status,tsunami,significance,data_type,magnitudo,country,longitude,latitude,depth,date,hour
19,"35 km SSW of MandrÃ¡ki, Greece",reviewed,0,168,earthquake,3.3,Greece,26.96900,36.323000,144.800000,1990-01-01,02:47:41.250000+00:00
48,"17 km SW of ShÃ«ngjin, Albania",reviewed,0,168,earthquake,3.3,Albania,19.43100,41.714000,10.000000,1990-01-01,06:34:04+00:00
55,Fiji region,reviewed,0,449,earthquake,5.4,Fiji region,-179.36100,-21.772000,599.500000,1990-01-01,07:49:35.570000+00:00
66,"3 km NE of Hitachi-Naka, Japan",reviewed,0,354,earthquake,4.8,Japan,140.56800,36.417000,67.900000,1990-01-01,09:03:12.880000+00:00
71,south of the Fiji Islands,reviewed,0,354,earthquake,4.8,south of the Fiji Islands,-179.92200,-23.616000,540.800000,1990-01-01,09:38:15.390000+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
3445696,"90 km W of KÄ«sh, Iran",reviewed,0,246,earthquake,4.0,Iran,53.11740,26.670200,10.000000,2023-07-29,03:31:28.005000+00:00
3445720,South Sandwich Islands region,reviewed,0,449,earthquake,5.4,South Sandwich Islands region,-26.22810,-58.618300,133.523000,2023-07-29,06:57:44.058000+00:00
3445724,"19 km NNW of Snyder, Texas",reviewed,0,148,earthquake,3.1,United States,-100.96382,32.888489,5.208862,2023-07-29,07:17:44.246000+00:00
3445731,"49 km SW of Unalaska, Alaska",reviewed,0,286,earthquake,4.3,United States,-167.08400,53.575100,12.202000,2023-07-29,08:06:54.899000+00:00
3445746,"5 km NW of Chikusei, Japan",reviewed,0,326,earthquake,4.6,Japan,139.94020,36.350700,83.039000,2023-07-29,10:34:11.941000+00:00

In [27]:
#Restrict to only 2023  
start_date = '2023-01-01'
end_date = '2023-07-29'

eq23_df = earthquake_3_df.query('date >= @start_date and date <= @end_date')

eq23_df

,place,status,tsunami,significance,data_type,magnitudo,country,longitude,latitude,depth,date,hour
3362966,"Rat Islands, Aleutian Islands, Alaska",reviewed,0,148,earthquake,3.10,Aleutian Islands,178.52180,52.099900,82.770000,2023-01-01,00:49:25.294000+00:00
3362976,"23 km ESE of Manay, Philippines",reviewed,0,312,earthquake,4.50,Philippines,126.73800,7.139700,79.194000,2023-01-01,01:41:43.755000+00:00
3362991,"51 km SSW of Panguna, Papua New Guinea",reviewed,0,449,earthquake,5.40,Papua New Guinea,155.23200,-6.706500,35.000000,2023-01-01,03:16:14.442000+00:00
3362996,Puerto Rico region,reviewed,0,238,earthquake,3.93,Puerto Rico region,-66.52510,19.163100,24.000000,2023-01-01,03:29:31.070000+00:00
3363001,"99 km SSW of Pagar Alam, Indonesia",reviewed,0,284,earthquake,4.30,Indonesia,102.76750,-4.780300,63.787000,2023-01-01,04:09:32.814000+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
3445696,"90 km W of KÄ«sh, Iran",reviewed,0,246,earthquake,4.00,Iran,53.11740,26.670200,10.000000,2023-07-29,03:31:28.005000+00:00
3445720,South Sandwich Islands region,reviewed,0,449,earthquake,5.40,South Sandwich Islands region,-26.22810,-58.618300,133.523000,2023-07-29,06:57:44.058000+00:00
3445724,"19 km NNW of Snyder, Texas",reviewed,0,148,earthquake,3.10,United States,-100.96382,32.888489,5.208862,2023-07-29,07:17:44.246000+00:00
3445731,"49 km SW of Unalaska, Alaska",reviewed,0,286,earthquake,4.30,United States,-167.08400,53.575100,12.202000,2023-07-29,08:06:54.899000+00:00
3445746,"5 km NW of Chikusei, Japan",reviewed,0,326,earthquake,4.60,Japan,139.94020,36.350700,83.039000,2023-07-29,10:34:11.941000+00:00